html {
  font-family: sans-serif;
  padding: 20px;
  height: 100%;
  background: #89b356;
  background-repeat: no-repeat;
  /* IE10+ */
  background-image: -ms-radial-gradient(center, ellipse farthest-corner, #A6D968 0%, #89B356 100%);
  /* Mozilla Firefox */
  background-image: -moz-radial-gradient(center, ellipse farthest-corner, #A6D968 0%, #89B356 100%);
  /* Opera */
  background-image: -o-radial-gradient(center, ellipse farthest-corner, #A6D968 0%, #89B356 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(0, #A6D968), color-stop(100, #89B356));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #A6D968 0%, #89B356 100%);
  /* W3C Markup */
  background-image: radial-gradient(ellipse farthest-corner at center, #A6D968 0%, #89B356 100%);
}

h1 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  line-height: 36px;
}

h2 {
  text-align: center;
  font-size: 18px;
  line-height: 22px;
}

#new-game {
  display: block;
  line-height: 20px;
  font-size: 16px;
  background-color: #333;
  padding: 4px 12px;
  color: #fff;
  border-radius: 10px;
  margin: 20px auto;
  border: none;
  cursor: pointer;
}

#new-game:hover {
  background-color: #666;
}

#game-area,
#game {
  width: 975px;
  height: auto;
  margin: 0 auto;
}

#game p {
  text-align: center;
}


/* Card Styles */

.card {
  margin: 4px;
  float: left;
}

.card img {
  height: 100%;
}

.card,
.card>.front,
.card>.back {
  width: 67px;
  height: 97px;
}

.card>.front,
.card>.back {
  position: absolute;
  border-radius: 7px;
}

.card>.front {
  -webkit-transform: perspective( 600px) rotateY( 180deg);
  -ms-transform: perspective( 600px) rotateY( 180deg);
  -o-transform: perspective( 600px) rotateY( 180deg);
  transform: perspective( 600px) rotateY( 180deg);
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: -webkit-transform .5s linear 0s;
  transition: -ms-transform .5s linear 0s;
  transition: -o-transform .5s linear 0s;
  transition: transform .5s linear 0s;
}

.card>.back {
  -webkit-transform: perspective( 600px) rotateY( 0deg);
  -ms-transform: perspective( 600px) rotateY( 0deg);
  -o-transform: perspective( 600px) rotateY( 0deg);
  transform: perspective( 600px) rotateY( 0deg);
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: -webkit-transform .5s linear 0s;
  transition: -ms-transform .5s linear 0s;
  transition: -o-transform .5s linear 0s;
  transition: transform .5s linear 0s;
}

.card>.front.flip {
  -webkit-transform: perspective( 600px) rotateY( 0deg);
  -ms-transform: perspective( 600px) rotateY( 0deg);
  -o-transform: perspective( 600px) rotateY( 0deg);
  transform: perspective( 600px) rotateY( 0deg);
}

.card>.back.flip {
  -webkit-transform: perspective( 600px) rotateY( -180deg);
  -ms-transform: perspective( 600px) rotateY( -180deg);
  -o-transform: perspective( 600px) rotateY( -180deg);
  transform: perspective( 600px) rotateY( -180deg);
}