<!DOCTYPE html>
<html lang="en">
<!--
  **NOTE:** This is a template for index.html.
  It uses ejs and htmlWebpackPlugin to generate a different index.html for each environment.
  htmlWebpackPlugin will dynamically add references to the scripts and styles that it bundles
  to this file. The generated bundles have hash-based filenames,
  so it's necessary to add the references dynamically.
  For more info on ejs, see http://www.embeddedjs.com/.
  For examples of using it with htmlWebpackPlugin,
  see https://github.com/jaketrent/html-webpack-template/blob/master/index.ejs
  -->

<head>
  <!--
    The htmlWebpackPlugin will parse the logic below so that trackJS is only added to the production version of index.html (since only webpack.config.prod.js provides the trackJS token)
    This is an example of how to add features to index.html for only one environment.
   -->
  <% if (htmlWebpackPlugin.options.trackJSToken) { %>
    <!-- BEGIN TRACKJS -->
    <script type="text/javascript">
      window._trackJs = {
        token: '<%=htmlWebpackPlugin.options.trackJSToken%>'
      };
    </script>
    <script type="text/javascript" src="https://cdn.trackjs.com/releases/current/tracker.js"></script>
    <!-- END TRACKJS -->
    <% } %>
      <meta charset="UTF-8">
</head>

<body>
  <h1>Concentration</h1>
  <div class="card">
    <div class="side back"><img id="card-back"></div>
    <div class="side front"><img id="2C"></div>
  </div>
  <div class="card">
    <div class="side back">Box 2 - Back</div>
    <div class="side front">Box 2 - Front</div>
  </div>
  <div class="card">
    <div class="side back">Box 3 - Back</div>
    <div class="side front">Box 3 - Front</div>
  </div>
  <div class="card">
    <div class="side back">Box 4 - Back</div>
    <div class="side front">Box 4 - Front</div>
  </div>
  <div class="card">
    <div class="side back">Box 5 - Back</div>
    <div class="side front">Box 5 - Front</div>
  </div>
  <div class="card">
    <div class="side back">Box 6 - Back</div>
    <div class="side front">Box 6 - Front</div>
  </div>
  <div class="card">
    <div class="side back">Box 7 - Back</div>
    <div class="side front">Box 7 - Front</div>
  </div>
  <div class="card">
    <div class="side back">Box 8 - Back</div>
    <div class="side front">Box 8 - Front</div>
  </div>
  <div class="card">
    <div class="side back">Box 9 - Back</div>
    <div class="side front">Box 9 - Front</div>
  </div>
  <div class="card">
    <div class="side back">Box 10 - Back</div>
    <div class="side front">Box 10 - Front</div>
  </div>
  <div class="card">
    <div class="side back">Box 11 - Back</div>
    <div class="side front">Box 11 - Front</div>
  </div>
  <div class="card">
    <div class="side back">Box 12 - Back</div>
    <div class="side front">Box 12 - Front</div>
  </div>
  <div class="card">
    <div class="side back">Box 13 - Back</div>
    <div class="side front">Box 13 - Front</div>
  </div>
  <!-- <table>
    <thead>
      <th>&nbsp;</th>
      <th>Id</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
    </thead>
    <tbody id="users">

    </tbody>
  </table> -->
</body>

</html>